*{
	margin-left: 0;
	margin-right: 0;
	padding: 0.5%;
}

body{
	margin-left: 200px;
	margin-right: 200px;
	padding: 30px;
	padding-bottom: 5px;
	float: justify;
	font-size: 16px;
    background: -webkit-linear-gradient(90deg, #003973 10%, #E5E5BE 90%);
}
header{
	background: #CC9349;
}
.fig-cabecera{
	margin: 0;
	float: left;
}
.fig-cabecera2{
	margin: 0;
	float: right;
}

header h1{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
	padding: 30px 10px 25px 30px;
	margin: 0px 250px;
	font-size: 80px;
	margin-right: 200px;
	margin-left: 350px;
	font-family: Brush Script MT;
	color: black;
}

#navegacion{	
	color: white;
	font-family: Arial;
	font-size: 20px;
}
#navegacion ul{
	margin-top: 0px;
	margin-bottom: 0px;
}
#navegacion ul li{
	background: #CC2902;
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
}
#navegacion ul li a{
	text-decoration: none;
	color: white;
}
#navegacion ul li:hover{
	background: #CC631E;
}


section{
	color: #00123D;
	background: white;
	font-family: Arial;
	padding-top: 0px;
	margin-top: 0px;
}
.imgsection{
	margin: 0;
	float: left;
}
.post-title{
	font-family: Arial black;
	color:#CC2902;
	text-decoration: underline;
	font-size: 20px;

margin-top: 10px;
	margin-bottom: 10px;

	padding: 30px 10px 25px 30px;
	
}
legend{
	font-family: Arial black;
	color:#CC2902;
	text-decoration: underline;
}
div{
	background:#B8B8B8;
	font-size: 16px;
}
div {
  margin: .0em 0;
}
div label {
  width: 7%;
  float: left;
  font-family: Arial;
  color:#CC2902;
}
footer{
	color:white;
	font-size: 20px;
	font-family: Monotype Corsiva;
	margin-left: 35%;
}
